.fourcolgrid h1{
    font-size: 40px;
    font-family: 'Abel', sans-serif; 
}

.fourcolgrid-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}
.fourcolgrid-element{

    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-height: 430px;
    max-width: 500px;
    animation: animateGrid 1s;
    overflow: hidden;
}
@keyframes animatedGrid {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width:700px){
    .fourcolgrid-grid{
        grid-template-columns: auto auto;
    }
    .fourcolgrid-element:nth-child(2n+2){
        margin-right: 0;
    }
    .fourcolgrid h1 {
        font-size: 21px;
    }
}