.loader{
    border: 5px solid rgb(160, 160, 160);
    border-top: 5px solid #096b99;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: spin 1.2s linear infinite;
    margin: 20px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }